@charset "utf-8";
body{
	background-image: url(../image/FLAG.bmp);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
	background-size: cover;
	color: #783105;
}
